<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Already a User | Login</title>
</head>
<body>
    <main class="main-box">
        <div class="form">
            <h3>You are already a registerd user</h3>
        <h3>Please Login to continue</h3>
        <a href="/login">Login</a>
        </div>  
    </main>
</body>
</html>