<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <title>Document</title>
</head>
<body>
    <main class="dashboard">
        <h1>Hello, <%= locals.name %></h1>
        <p>And this is your email:</p>
        <strong><%= locals.email %></strong>
        <form method="post" action="/logout" class="form">
            <button type="submit">Logout</button>
        </form>
    </main>
</body>
</html>