<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>

    <main class="main-box">
        <div class="left">
            <h3>
                Already a user, Login
            </h3>
            <a href="/login">Login</a>
        </div>

        <div class="right">
            <h3>
                New user, Register
            </h3>
            <a href="/register">Register</a>
        </div>
    </main>
</body>
</html>