<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Register First</title>
</head>
<body>
    <main class="main-box">
        <div class="form">
            <h3>Signup First</h3>
        <p>Please Register to continue</p>
        <a href="/register">Signup</a>
        </div>  
    </main>
</body>
</html>